.innerError {
    background-image: url(../images/invalid.gif);
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 0px;
    padding-top: 1px;
    BORDER-RIGHT: #FF8000 0px solid;
    BORDER-TOP: #FF8000 10x solid;
    MARGIN: 0px;
    BORDER-LEFT: #FF8000 0px solid;
    BORDER-BOTTOM: #FF8000 0px solid;
    color: #ff2d00;
    display: block;
    width: 100%;
    background: transparent;
    margin-top: 2px;
    font-size: 13px;
    letter-spacing: 1px;
}